*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

.headersection{
    display: flex;  
    justify-content: space-around;
    background-color: #1F2937;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    padding: 20px 0px; 
    display: flex;
    gap: 20px;
  } 
  
  a{
    text-decoration: none;
  }

.righheader a{
    color: #e5e7eb;
    font-size: 18px;
}

#headerlogo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.sectioncontainer{
    background-color: #c6ebd5;
    color: #252920;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:200px;
}

.sectioncontainer h1{
    font-size: 48px;
    font-weight:900;
}

.leftsection{
    width: 600px;
    display: flex;  
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
}

.leftsection button{
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border-radius: 5%;
    width: 150px;
    font-weight: bold;
    justify-self: flex-end;

}

.rightsection img{
    width: 450px;
    height: 250px;
    border-radius: 5%;
}

.articlecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 100px 0;
    gap: 50px;
}
.articlecontainer h2{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.articleitems{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:10px;
    width: 900px;
   
}

.item{
    text-align: center;
    width: 150px;
}

.item img {
    width: 150px;
    height: 150px;
    border: #638ccd solid 4px;
    border-radius: 10%;
}
